.wrapepr_page  {
  width: 960px;
  height: 100%;
  margin: 0 auto;
}
.header  {
  width: 960px;
  height: 50px;
  margin: 0 auto;
  background: #F0F0F0;
}
.wrapper  {
  margin: auto;
  width: 960px;
}
.wrapper__logo  {
  text-decoration: none;
  cursor: pointer;
  float: left;
  margin-left: 110px;
  letter-spacing: -1px;
  color: #B80000;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .25);
}
.wrapper__logo i  {
  font-size: 28px;
  font-family: Helvetica, Verdana, sans-serif;
  color: rgb(119, 104, 71);
  position: relative;
  top: .18em;
  display: inline-block;
  text-shadow: none;  
}
.wrapper__logo i:hover  {
  background: rgb(119, 104, 71);
  color: rgb(255,255,255);
  padding: 2px;
}
.wrapper__logo .logo__author  {
  font-size: 24px;
  font-family: Helvetica, Verdana, sans-serif;
  color: rgb(119, 104, 71);
  margin-top: .75em;
  display: inline-block;
  text-shadow: none;
  left: -20px;
}
.search  {
  display: inline-block;
  margin-top: 1.75em; 
  border: 1.5px solid rgb(119, 104, 71);;
  
}
.content  {
  width: 650px;
  margin: auto;
  left: 100px;
  float: left;
}
.footer  {
  clear: both;
  width: 960px;
  height: 55px;
  margin: 0 auto;
  background: #666666;
}
.horizontal  {
  width: 300px;
  margin: left;
  list-style: none;
}
.horizontal:after  {
 clear: both;
 display: table;
 content: "";
}
.horizontal__link  {
  float: left;
  width: 70px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  margin: 10px;
  display: block;
  color: rgb(119, 104, 71);
  text-decoration: none;
  background-color: #B8B8B8;
  border-radius: 5px;
  font-family: Helvetica, Verdana, sans-serif;
  font-style: normal;
  font-size: 10px;
  box-shadow: 0px 2px 2px rgba(255,255,232,.5) inset, 1px 2px 4px rgba(0,0,0,.4);
}
.horizontal__link a  {
  display: block;
  height: 100%;
  border-radius: 50%;
}
.horizontal__link:hover  {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, .3) 100%); 
}
.horizontal__link:hover i:before  {
  -webkit-transform: scale(1.125);
  -ms-transform: scale(1.125);
  transform: scale(1.125);
}
.vertical  {
  float: left;
  width: 210px;
  height:75px;
}
.vertical:after  {
 clear: both;
 display: block;
 content: "";
}
.vertical__link  {
	width: 70px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	margin: 5px;
    display: block;
	color: rgb(119,104,71);
	background-color: #B8B8B8;
	text-decoration: none;
	border-radius: 5px;
    font-family: Helvetica, Verdana, sans-serif;
	font-style: normal;
	font-size: 10px;
	box-shadow: 0px 2px 2px rgba(255,255,232,.5) inset, 1px 2px 4px rgba(0,0,0,.4);
}
.vertical__link:hover  {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, .3) 100%); 
}
.vertical__link:hover i:before  {
  -webkit-transition: top 1s ease-out 0.5s;
  -ms-transition: top 1s ease-out 0.5s;
  transition: top 1s ease-out 0.5s;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.headings  {
  display: table;
  content: "";
}
.headings  {
  padding-left: 50px;
}
.headings__link  {
  clear: both;
}
h2  {
  font: normal 22px/18px Helvetica, Verdana, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  padding: 5px;
}
hr  {
  width: 100%;
  align: center;
  size: 2px;
  color: rgb(119, 104, 71);
}
p  {
  text-align: justify;
}
.publication-data  {
  color: #009900;
}
h3  {
  color: #FFFFFF;
  text-align: center;
}