.wrapper  {
  margin: auto;
  width: 960px;
}
header {
    width: 960px;
    height: 50px;
    margin: 0 auto;
    background: lightgrey;
}
.comments header  {
  width: 635px;
  height: 30px;
  margin-top: 15px;
  text-align: justify;
  padding-top: 15px;
  padding-left: 15px;
  background: green;
}
.comments p  {
  width: 635px;
  height: 30px;
  margin-top: 0px;
  text-align: justify;
  padding-top: 15px;
  padding-left: 15px;
  background: blue;
}
.logotype  {
  font-size: 28px;
  float: left;
  margin-left: 55px;
}
.author  {
  font-size: 24px;
  margin-left: 275px;
}
a.author {
  text-decoration: none;
}
.logotype, .author  {
  letter-spacing: -1px;
  color: rgb(119, 104, 71);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .25);
}
.search  {
  margin-left: 118px;
}
.content  {
  width: 650px;
  margin: auto;
  left: 100px;
  float: left;
}
.footer  {
  clear: both;
  width: 960px;
  height: 55px;
  margin: 0 auto;
  background: #666666;
}
.horizontal  {
  width: 300px;
  display: inline;
  list-style: none;
}
.horizontal:after  {
 clear: both;
 display: inline;
 content: "";
}
.horizontal__link  {
  float: left;
  width: 70px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  margin: 10px 10px 10px 0px;
  display: block;
  color: rgb(119, 104, 71);
  text-decoration: none;
  background-color: #B8B8B8;
  border-radius: 5px;
  font-family: Helvetica, Verdana, sans-serif;
  font-style: normal;
  font-size: 10px;
  box-shadow: 0px 2px 2px rgba(255,255,232,.5) inset, 1px 2px 4px rgba(0,0,0,.4);
}
.horizontal__link a  {
  display: block;
  height: 100%;
  border-radius: 50%;
}
.horizontal__link:hover  {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, .3) 100%); 
}
.horizontal__link:hover i:before  {
  transform: scale(1.125);
}
.vertical  {
  float: left;
  width: 260px;
  height:75px;
  margin-left: 50px;
}
.vertical:after  {
 clear: both;
 display: block;
 content: "";
}
.vertical__link  {
  width: 70px;
  height: 15px;
  float: left;
  line-height: 15px;
  text-align: center;
  margin: 5px 5px 5px 10px;
  display: block;
  color: rgb(119,104,71);
  background-color: #B8B8B8;
  text-decoration: none;
  border-radius: 5px;
  font-family: Helvetica, Verdana, sans-serif;
  font-style: normal;
  font-size: 10px;
  box-shadow: 0px 2px 2px rgba(255,255,232,.5) inset, 1px 2px 4px rgba(0,0,0,.4);
}
.vertical__link:hover  {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, .3) 100%); 
}
.vertical__link:hover i:before  {
  transition: top 1s ease-out 0.5s;
  transform: scale(1.5);
}
.headings  {
  display: table;
  content: "";
  width: 50px;
}
.headings__link  {
  clear: both;
  width: 260px;
  margin-left: 50px;
  text-align: right;
}
.headings h2  {
  text-align: center;
}
.headings__reference  {
  text-decoration: none;
  color: #666633;
  line-height: 50px;
  font-size: 25px;
}
.headings__reference:hover  {
  text-decoration: none;
  color: #FFFFFF;
  background: #666633;
}
h2.title  {
  margin-left: 25px;
}
h2  {
  font: normal 22px/18px Helvetica, Verdana, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  padding: 10px 0px 10px 0px;
  color: rgb(119, 104, 71);
}
hr  {
  width: 100%;
  color: rgb(119, 104, 71);
}
.short  {
  width: 230px;
  margin-left: 0;
  color: rgb(119, 104, 71);
}
.middle  {
  width: 260px;
  margin-right: 0;
  color: rgb(119, 104, 71);
}
p  {
  text-align: justify;
}
.publication-data  {
  padding: 10px 0px 10px 0px;
  color: #009900;
}
h3  {
  color: #FFFFFF;
  text-align: center;
}
.find-comments a  {
  text-decoration: none;
  color: lightslategray;
  font-size: 15px;
  line-height: 25px;
  margin-right: 25px;
}


.comments-container  {
  width: 650px;
  overflow: hidden;
}
.invitation  {
  display: block;
  font-size: 16px;
  padding: 15px 0 5px 5px;
  color: rgb(119, 104, 71);
}
label  {
  margin-left: 10px;
  color: rgb(119, 104, 71);
}
.formControl>div  {
  padding: 5px 0 5px 0;
}
.add-comment  {
  width: 80px;
  height: 35px;
  color: rgb(119, 104, 71);
}